:root {
  --wh: #ffffff;
  --bk: #000000;
  --c1: #586c6d;
  --c2: #a5b8b8;
  --c3: #394a4b;
  --tr: rgba(0, 0, 0, 0.068);
}

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background: linear-gradient(190deg, var(--c2) 50%, var(--c1) 50%);
  background-size: cover;
  color: #333;
  font-family: 'JetBrains Mono', monospace;
  font-size: 0.8rem;
}

h1 {
  font-size: 1.4rem;
  font-weight: normal;
  margin-bottom: 12px;
  padding: 12px 8px 12px 8px;
  color: var(--wh);
  background: var(--c1);
  border-radius: 0.5rem;
}

h3 {
  margin-top: 2rem;
  color: var(--wh);
  font-weight: lighter;
}

p {
  margin: 16px 0 0 0;
  color: var(--wh);
}

label {
  margin-right: 10px;
  font-size: 1rem;
  color: #fff;
}

input {
  border: none;
  padding: 4px 0;
  font-size: 1rem;
  font-family: 'JetBrains Mono';
  text-align: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: min(400px, 75%);
  min-height: 300px;
  padding: 2rem;
  border-radius: 0.5rem;
  text-align: center;
  backdrop-filter: blur(18px);
  background-color: var(--tr);
  box-shadow: 0px 10px 15px #00000042;
}

.footer--name {
  padding: 0.4rem;
  background: #ffd4e41a;
}

.input--name {
  padding: 1rem 0 0 0;
}

#btn {
  border: none;
  border-radius: 4px;
  padding: .5rem;
  margin-top: 1rem;
  background: var(--wh);
  transition: 0.1s ease-in-out;
  font-family: 'JetBrains Mono', monospace;
}

#btn:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0px 3px 4px #0000001f;
}

#dolarHoy {
  margin-top: 2rem;
}

select {
  padding: 6px;
  margin-top: 1rem;
  border: none;
  border-radius: 6px;
}
